@import url(http://fonts.googleapis.com/css?family=Lato|Fugaz+One);

body {
  background: #343838 url("/images/bg.png");
  margin: 50px 0px 0px 0px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Fugaz One";
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 8px;
  line-height: 30px;
  margin: 0px 0px 15px 0px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px 0px -10px 0px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
}

button {
  color: #ffffff;
  background: #2e1863;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: Lato;
  padding: 10px;
  margin: 20px 5px;
  border: 0px;
}

form {
  display: inline;
}

#flash {
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

#sudoku {
  font-size: 0;
  text-align: center;
  margin: 20px;
}


.box, .cell {
  display: inline-block;
}

.cell, .row, .cell-row {
  background: transparent;
}

.box {
  margin: 0px;
  padding: 3px;
}

.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  font-family: Lato;
  color: #2e1863;
  border: 0px;
  background: rgba(255,255,255,0.5);
  margin: 2px;
  border-radius: 3px;
}


.incorrect {
  background: #f8e26b!important;
}

.value-provided {
  background: rgba(255,255,255,1)!important;
}